
<nav class="ui teal inverted menu">

    <header class="header item"><a href="/"><i class="home icon"></i>Cayman Beaches </a></header>
    <div class="right menu">
        <a id="home"   class= "item" href="/report"><i class="search icon"></i> Admin </a>
        <a id="checkIn" class= "item" href="/adminCheckIn"><i class="thumbtack icon"></i>Check Ins</a>
        <a id="logout" class= "item" href="/logout"><i class="sign out alternate icon"></i> Logout</a>


    </div>
</nav>

<script>
    $("#{{_id}}").addClass("active item");
</script>
</div>