<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:20px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3">
            <!-- Profile -->
            <div class="w3-card w3-round w3-white">
                <div class="w3-container">
                    <h4 class="w3-center">Administrator</h4>
                    <p class="w3-center"><img src="./images/admin.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>

                </div>
            </div>
            <br>
        </div>
    <div class="w3-col m7">
        <div class="w3-row-padding">
            <div class="w3-col m12">
            <h3>Cayman Beaches</h3>
        <p>To add new beaches to the database please ensure all information is correct before submitting</p>
            </div>
        </div>
    </div>
    </div>
</div>