<section class="ui raised segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="./images/beach1.jpg" class="ui large rounded image">
        </aside>
        <article class="eight wide column">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                </tr>
                </thead>
                <tbody>

                    <tr>
                        <td> {{beach.name}} </td>
                        <td> {{beach.description}} </td>
                        <td> {{beach.categories}} </td>

                    </tr>
                <img src="{{beach.imageMain}}">

                </tbody>
            </table>
        </article>
    </div>
</section>