<link rel="stylesheet" type="text/css" href="../dist/semantic.css">



<div data-rating="5" class="ui star rating">
<i class="star icon active"></i>
<i class="star icon active"></i>
<i class="star icon active"></i>
<i class="star icon"></i>
<i class="star icon"></i>
</div>
