<section class="ui raised segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/homer5.jpg" class="ui medium image">
        </aside>
        <article class="eight wide column">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Rating </th>
                    <th>Location</th>
                    <th>Name of Reviewer</th>
                </tr>
                </thead>
                <tbody>
                {{#each reviews}}
                    <tr>
                        <td> {{amount}} </td>
                        <td> {{method}} </td>
                        <td> {{reviewer.firstName}} {{reviewer.lastName}} </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </article>
    </div>
</section>