<section class="ui raised segment">
    <div class="ui grid ">
        <div class="ui form six wide column">
            <div class="ui stacked segment">
                <form action="/review" method="POST">
                    <div class="ui icon input">
                    <input type="text" name="location" placeholder="Search...">
                    <i class="circular search link icon"></i>
                </div>
                    <div class="grouped inline fields">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="rating" value="1star">
                                <label>1 Star</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="rating" value="2star">
                                <label>2 Star</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="rating" value="3star">
                                <label>3 Star</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="rating" value="4star">
                                <label>4 Star</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="rating" value="5star">
                                <label>5 Star</label>
                            </div>
                        </div>
                        <div class="ui form">
                            <div class="field">
                                <label>Comment</label>
                                <textarea></textarea>
                            </div>
                        </div>
                    </div>
                    <button class="ui yellow submit button">Review</button>
                </form>
            </div>
        </div>
        <aside class="six wide column">
            <img src="./images/beach1.jpg" class="ui fluid rounded image">
        </aside>
    </div>
</section>