<section class="ui raised segment">
<button class="ui teal button" onclick="myFunction()">User List</button>
    <div class="ui stacked segment">
<div id="myDIV">
    <article class="eight wide column">
        <table class="ui celled table segment">
            <thead>
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each user}}
                <tr>
                    <td> {{firstName}} {{lastName}}  </td>
                    <td> {{email}} </td>
                    <td><a href = "user/delete/{{_id}}"  class="ui red button">Delete User</a>  </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </article>
</div>
    </div>
</section>

<script>
    function myFunction() {
var x = document.getElementById("myDIV");
if (x.style.display === "none") {
x.style.display = "block";
} else {
x.style.display = "none";
}
}
</script>