
<nav class="ui teal inverted menu">
    <header class="header item"> <a href="/"><i class="home icon"></i> Cayman Beaches </a> </header>
    <div class="right menu">
        <a class="item" href="/about"><i class="info circle icon"></i>  About Us</a>
        <a class="item" href="/signup"><i class="user plus icon"></i> Signup</a>
        <a class="item" href="/login"><i class="sign in alternate icon"></i> Login</a>
    </div>
</nav>
