{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="./images/beach1.jpg" class="ui medium image">
        </aside>
        <article class="ten wide column">
            <header class="ui  header"> Cayman Beaches Review Page</header>
            <p> Help pur locals and our visitors find the best beaches in Cayman </p>
        </article>
    </div>
</section>