{{> welcomemenu }}

<section class="ui stacked segment">

    <article class="ten wide column">
        <header class="ui  header"> Cayman Beaches Review Page</header>
        <p> Help our locals and our visitors find the best beaches in Cayman </p>
        {{> error }}
    </article>
    <img src="./images/beach1.jpg" class="ui fluid rounded image">
</section>